@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body{
  font-family: "Playfair+Display",
  sans-serif;
}

#heading1{
  font-weight: bold;;
}

#title{
  font-size: 16px
}

#Tips{
  color: #ff8c00
}
