@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

#menu{
  text-align: center;
}
#PoemAuthor{
  margin: auto;
}

#Ref{
  margin: auto;
}

p {
  margin: auto;
}

h1{
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #b9b4b5;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 10px;
}

h2{
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #dc143c;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 9px;
}

h3{
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #d2691e;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 8px;
}

header{
  background-image: url(images/huts2.jpg);
}
